.konteiner{
    background-color: rgba(38, 38, 39, 0.315);
    width: 400px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px; 
    border:1px solid white;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.281);
  
}
h1{
    color: white;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
.ruum-yleval{
    display: inline-block;
    margin-top: 10px;
   
}

body {
    background-image: url('taust.jpg ');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    
  }

input[type=text],input[type='password'],select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid white;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    background-color: rgba(38, 38, 39, 0.315);

  }
input[type=text]:focus, input[type='password']:focus {
    border: 3px solid white;
  }


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }